{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} {{ post.text|truncatechars:30 }}  {% endblock %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Дата публикации: {{ post.pub_date|date:"d E Y" }} 
      </li>
      {% if post.group %}  
        <li class="list-group-item">
          <a href="{% url 'posts:group' post.group.slug %}">все записи группы</a>
        </li>
      {% endif %}
        <li class="list-group-item">
          Автор: 
          {% if post.author.get_full_name %}
              {{ post.author.get_full_name }} 
          {% else %}
              {{ post.author.username }}
          {% endif %}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора:  <span >{{number_of_posts}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Нравится пользователям:  <span >{{number_of_likes}}</span>
        </li>
        <li class="list-group-item">
        <a href="{% url 'posts:profile' post.author.username %}">
          все посты пользователя
        </a>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    {% thumbnail post.image "960" as big %}
      {% thumbnail post.image "480" as small %}
        <a href="{{ big.url}}" title="big picture"><img src="{{ small.url }}"></a>
      {% endthumbnail %}
    {% endthumbnail %}
    <p>
      {{ post.text }}
    </p>
    <br>
    {% if request.user.is_authenticated and post.author != request.user %}
      {% if like %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:like' post.pk %}?next={{ request.path|urlencode }}" role="button"
          >
          Уже лайкнул
        </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:like' post.pk %}?next={{ request.path|urlencode }}" role="button"
          >
          Нравится
        </a>
      {% endif %}
    {% endif %}
    {% if post.author == request.user  %}
      <a class='btn btn-primary' href="{% url 'posts:post_edit' post.pk %}">редактировать пост</a>
    {% endif %}
    {% include 'includes/comments.html' %}
  </article>
</div>
{% endblock %}